body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Eliminate margins and padding on everything */
.styled-form * {
  margin: 0;
  padding: 0;
}

/* Grey box and default font for fieldsets */
.styled-form fieldset {
  background-color: #ececec;
  border: 2px solid #999;
  box-sizing: border-box;
  color: #4d4d4d;
  font-family:
    myriad-pro, "Helvetica Neue", Helvetica, Roboto,
    Arial, sans-serif;
  padding: 1rem;
  margin: 1rem;
}

/* Custom appearance for fieldset title */
.styled-form p {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Custom appearance for labels and lists*/
.styled-form label,
.styled-list {
  font-weight: bold;
  line-height: 1.5rem;
  color: #d74250;
}

.styled-list {
  font-size: 1rem;
}

/* Custom appearance for input and select fields */
.styled-form input[type="text"],
.styled-form input[type="date"],
.styled-form input[type="time"],
.styled-form select {
  border: 1px solid #06c;
  border-radius: 4px;
  box-sizing: border-box;
  font: normal 1rem Helvetica, Arial, sans-serif;
  height: 40px;
  padding: 5px 8px;
}

.side-by-side label,
.side-by-side input[type="text"],
.styled-form input[type="date"],
.styled-form input[type="time"] {
  display: inline-block;
}

.side-by-side label {
  margin-right: 1rem;
  vertical-align: middle;
}

.side-by-side input[type="text"] {
  vertical-align: middle;
  width: 100%;
}

.side-by-side dl {
  font-size: 0;
}

.side-by-side dt,
.side-by-side dd {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
}

.side-by-side dt {
  padding-right: 1rem;
  width: 25%;
}

.side-by-side dd {
  width: 75%;
}

#submit {
  background-color: #d74250;
  font-weight: bold;
  line-height: 1.5rem;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: none;
  margin: 1rem;
}

.submit {
  background-color: #d74250;
  font-weight: bold;
  line-height: 1.5rem;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: none;
  margin: 1rem;
}

#addSchedule {
  background-color: #64adda;
  font-weight: bold;
  line-height: 1.5rem;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: none;
  margin: 1rem;
}